<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <a>Please enter your account information.</a>
    <!-- Login Form -->
    <form #login="ngForm" (ngSubmit)="doLogin(login)">
      <input type="text" id="login" class="fadeIn second" name="name" placeholder="Login" ngModel>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" ngModel>
      <input (submit)="doLogin()" type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="" (click)="forgotPassword()">Forgot Password?</a>
    </div>

  </div>
</div>